#D1
{ width: 200px;
  height: 200px ;
}

#DivS
{
    float: left;
}

#DivV
{
    float:right;
}

#D2
{
    width:200px;
    height: 200px;
}












































